:root {
    --backgroundColor1: #1C5550 ;
    --backgroundColor2: #00000033;
    --backgroundColor3: #DFD9D9;
    --color_1:  #91B599;
    --color_2: #C3B97F; 
    --fontsize_1: 24px ;
    --fontsize_2: 16px;
    --fontsize_3: 14px;
}